<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentCulture.Name">
<head>
  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="../../css/form.css"/>
    <link rel="stylesheet" href="../../css/formV2.css"/>
    <link rel="stylesheet" href="../../css/home.css"/>
    <link rel="stylesheet" href="../../css/site.css"/>
    <link rel="stylesheet" href="../../css/area.css"/>
    <link rel="stylesheet" href="../../css/auth.css"/>
    <link rel="stylesheet" href="../../css/landing.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="module" src="~/lib/chart.js/dist/chart.js"></script>
    <script src="~/lib/chart.js/dist/chart.umd.js"></script>
</head>

<body>
@RenderBody()
</body>
</html>
@await RenderSectionAsync("Scripts", required: false)
