<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\MyApp.exe"
                    stdoutLogEnabled="false"
                    stdoutLogFile=".\logs\stdout"
                    hostingModel="InProcess">
            <environmentVariables>
                <environmentVariable name="ADMIN_EMAIL" value="admin@admin.com" />
                <environmentVariable name="ADMIN_PASSWORD" value="Pass123$" />
                <environmentVariable name="SmtpServer" value="smtp.ethereal.email" />
                <environmentVariable name="SmtpPort" value="587" />
                <environmentVariable name="SmtpUser" value="hector.vonrueden@ethereal.email" />
                <environmentVariable name="SmtpPass" value="7qRZkdSDWy7R8A9Xgj" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>
