@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FormEntry

@{
    ViewData["Title"] = "Success";
}

@await Html.PartialAsync("Header")

<div class="pass_form-root-container">
<form class="pass_form-container">



<div  class="pass-_super_container">
    
    <div class="pass-container">
        <img class="pass_svg" src="../public/success.svg" alt="success">
        <h3 class="pass-title">@Localizer["Thanks"]</h3>
        <p class="pass-text">@Localizer["ThanksSub"]</p>  
    </div>
  

</div>


   
</form>

</div>