@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Form";
}

@await Html.PartialAsync("Header")


<div class="form-root-container">
    <div class="form-container">

        <div class="form__super-title-container">
            <h1 class="form__super-title-text">@Localizer["formTitle"]</h1>
        </div>
        <div class="form__section-container">
            <div class="form__sextion-title-container-home" style="display: flex;">
                <a class="homecard" asp-action="Index" asp-controller="Form">
                    <h3 style="flex: 1" class="form__section-title-text"> @Localizer["formSubSection1"]</h3>
                    <img src="public/people-nearby-svgrepo-com.svg" alt="">
                </a>      
                
                <div class="homecard">
                    <h3 style="flex: 1"  class="form__section-title-text"> @Localizer["formSubSection2"]</h3>
                    <img src="public/factory-breakdown-svgrepo-com.svg">
                </div>
            </div>
          </div>  
    </div>
</div>
