@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Form";
}

@await Html.PartialAsync("Header")

<div class="form-root-container">
    <div class="form-container">

        <div class="form__super-title-container">
            <h1 class="form__super-title-text">@Localizer["formTitle"]</h1>
        </div>
        <div class="form__section-container">
            <div class="form__sextion-title-container-home" style="display: flex;">
                <a class="homecard" asp-action="Index" asp-controller="Form" asp-route-Category="Community">
                    <h3 style="flex: 1" class="form__section-title-text"> @Localizer["formSubSection1"]</h3>
                    <img src="public/people-nearby-svgrepo-com.svg" alt="">
                </a>      
                
                <div class="homecard">
                    <h3 style="flex: 1"  class="form__section-title-text"> @Localizer["formSubSection2"]</h3>
                    <img src="public/factory-breakdown-svgrepo-com.svg">
                </div>
            </div>
        </div>  
    </div>
</div>

<!--
<canvas id="myChart" width="400" height="200"></canvas>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',  // Chart type (bar, line, etc.)
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],  // X-axis labels
            datasets: [{
                label: 'My First Dataset',
                data: [65, 59, 80, 81, 56, 55, 40],  // Y-axis values
                borderColor: 'rgb(75, 192, 192)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true
        }
    });
</script>
--->