@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="landing-root-container">
    <div class="landing-sub-container" id="landing-background">
        <div class="top-container">
            @await Html.PartialAsync("HeaderR")

        </div>
        <div class="pass_form-root-container">
            <div class="pass-container">
                <img class="pass_svg" src="../../public/success.svg" alt="success">
                <h3 class="pass-title">@Localizer["Sent"]</h3>
                <a asp-page="./Login" class="pass-text">@Localizer["CheckEmail"]</a>
            </div>
        </div>
    </div>
</div>