.create-super-container {
    width: 80%;
    height: 3em;
    margin: 2em auto;
}

.create-container {
    padding: 1em;
    max-width: 13%;
    min-width: 5em;
    border: 0.3em transparent solid;
    border-radius: 0.3em;
    background-color: var(--secondary-4);
    text-align: center;
    cursor: pointer;
}

.create-container:hover {
    border: 0.3em var(--blue) solid;
    transition: 1s ease;

}

.create-text {
    font-family: "Font-Bold";
    color: var(--th-Primary);
}

.forms-super-container{
    width: 90%;
    margin: 4em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: var(--th-Primary);
}

.forms-container{
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    background-color: rgba(5, 41, 118, 0.25);
}

.form-title-container{
}

.from-title-card-text{
    font-size: 1.5em;
    font-family: "Font-Bold";
}

.responses-text{
    font-size: 2em;
    font-family: "Font-Medium";
}

.form-date-text{
    font-family: "Font-Light";
}

.form-actions-container {
    display: flex;
    gap: 0.5em;
    font-family: "Font-Light";
}

.form-action-delete-text:hover{
    color: red;
    cursor: pointer;
}

.form-action-view-text:hover,
.form-action-edit-text:hover{
    color: green;
    cursor: pointer;
}