.login-super-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--white);
}
.login-types-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--white);
    height: 70%;
    align-items: center;
}

.login-title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.login-title{
    font-family: "Font-Bold";
    color: var(--bs-white);
    font-size: 2em;
}

.login-container{
    display: flex;
    background-color: red;
    width: 70%;
    height: 50%;  
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
    
}

.login-items-container{
    display: flex;
    flex-direction: column;
    background-color: red;

    gap: 1em;
}
.login-group{
    display: flex;
    
    flex-direction: column;
    gap: 1em;
    font-family: "Font-Regular";
    color: var(--white);
}


.form__input__small {
    border: 1px solid var(--th-Primary);
    overflow: auto;
    outline: none;
    width: 100%;
    height: 2.5em;
    border-color: var(--th-Primary-6);
    color: var(--black);
    font-family: "Font-Light";
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border-width: 0.2em;
    border-radius: 0.5em;

}

.form__input__small:focus {
    border-color: var(--secondary-1);
    transition: ease-in 0.2s;
}

.login-label{
    font-family: "Font-Regular";
    color: var(--th-Primary);
}

.rest-text {
    font-family: "Font-Light";
    color: var(--dark-grey-1);
}

.rest-text:hover {
    transition: ease-in 0.2s;
    color: var(--secondary-6);
}

.login-submit{
    background-color: var(--th-Primary);
    display: flex;
    width: fit-content;
    color: white;
    font-family: "Font-Medium";
    padding: 1em 3em;
    border-radius: 0.3em;
    border: 0.4em solid transparent;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

.login-submit:hover{
    border: 0.4em var(--th-secondary) solid;

}

.login__section-container{
    display: flex;
    gap: 1em;
    font-family: Font-Bold;
    color: var(--th-Primary);
    background: rgba(123, 121, 121, 0.3);

    border-radius: 0.5em;
    width: fit-content;
    margin: 0 auto;
    padding: 2em;
}

.captcha-image{
    border-radius: 1em;
}

.test{
    background: red;
}
@media (max-width: 510px) {
    
    .login-sub-container:lang(en){
        height: fit-content;
    }

    .login-sub-container:lang(ar){
        height: fit-content;
    }
}