.form-root-container{
    background: var(--dark-grey-5);
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-container{
    width: 75%;
    margin-top: 2em;
}

.form__super-title-container {
    font-family: Font-Bold;
    color: var(--th-Primary);
    margin-bottom: 1em;
}

.form__super-title-text{
    font-size: 1.8em;
    color:var(--th-Primary);

}

.form__section-title-container {
    gap: 0.8em;
    font-family: Font-Medium;
    color: var(--th-Primary);
    margin-bottom: 1em;
}

.form__section-title-text{
    font-size: 1.5em;
}

.form__input-container {
    display: flex;
    flex-direction: column;
}

.form__label-text {
    font-family: Font-Bold;
    color: var(--dark-grey-2);
}