body {
    background: var(--dark-grey-5);
}

.form-header-padding {
    padding-bottom: 1.2em;
}

.form-root-container{
    background: var(--dark-grey-5);
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form-container{
    width: 75%;
    margin-top: 2em;
}
.form__super-title-container {
    font-family: Font-Bold;
    color: var(--th-Primary);
    margin-bottom: 1em;
}

.form__section-container {
   
}

.form__super-title-text{
    font-size: 1.8em;
    overflow-wrap: break-word;
    color:var(--th-Primary);

}

.form__sextion-title-container {

    gap: 0.8em;
    font-family: Font-Medium;
    color: var(--th-Primary);
    margin-bottom: 1em;
}

.form__section-title-text{
    font-size: 1.5em;
}

.form__sextion-title-container-home {
    gap: 0.8em;
    font-family: Font-Medium;
    color: var(--th-Primary);
    font-size: 1.5em;
    margin-bottom: 1em;
}

.form__inputs-container {
    display: grid;
    gap: 1em 5em;
    grid-template-columns: repeat(2, 1fr);
}

.form__label-text {
    font-family: Font-Bold;
    color: var(--dark-grey-2);
}

.form__label-text-1{
    font-family: Font-Regular;
    color: var(--dark-grey-2);
}

.AgeGroupLabel{
    margin-top: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__input-container {
    display: flex;
    flex-direction: column;
}

.form__input {
    border: 1px solid var(--th-Primary);
    overflow: auto;
    outline: none;
    width: 95%;
    height: 5em;
    border-color: var(--th-Primary-4);
    color: var(--th-Primary);
    font-family: "Font-Light";
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    border-width: 0.2em;
}

.form__input:focus {
    border-color: var(--secondary-1);
    border-width: 0.2em;
    transition: ease-in 0.8s;
}

.homecard{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey-6);
    padding: 1em;
    margin-left: 0.2em;
    border-radius: 1em;
}

.form__terms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form__containers-1-container {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.form__submit-container  {
    display: flex;
    justify-content: end;
    font-family:"Font-Light";
}

.form__submit {
    background-color: var(--th-Primary);
    font-family: Font-Regular;
    color: wheat;
    padding: 1em 3em;
    border-radius: 0.6em;
    margin: 1em;
}

.form__submit:hover {
    transition: ease-in 20s;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 92%, rgba(0, 29, 255, 1) 100%);
}

.text-danger {
    font-family: Font-Light;
    font-size: 0.9em;
    color: red;
}

.error-message{
    font-family: "Font-Light";
    font-size: 0.9em;
    color: red;
}

.error-message-login{
    position: absolute;
    font-family: "Font-Light";
    font-size: 0.9em;
    color: red;
}


.pass_form-root-container{
    display: flex;
    align-items: center;
    justify-content: center ;
    align-items: center;
    margin-top: 10%;
}

.pass-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 5em 10em;
    border-radius: 0.4em;
    background: rgba(173,235,179,0.3);
}

.not-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 5em 10em;
    border-radius: 0.4em;
    background: var(--dark-grey-4);
}
.pass_svg{
    width: 170px;
}

.pass-title{
    font-family: Font-Bold;
    font-size: 1.5em;
    color: var(--th-Primary);
}

.pass-text{
    font-family: Font-Light;
    color: var(--th-Primary-3);
}

.notfound-super-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.notfound-sub-container{
    width: 40%;
    display: flex;
    justify-content: center;
}

.notfound_svg{
    width: 10em;
}

.notfound-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 5em 0;
    border-radius: 0.5em;
    background-color: rgba(5,41,118,0.1);
}

.form__input_inner-container{
    display: flex;
    flex-direction: column;
}

.required-container{
    display: flex;
}

.add-super-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-container{
    background-color: var(--secondary-4);
    padding: 1em;
    border-radius: 0.2em;
    border: 0.2em solid transparent;
}

.add-container:hover{
    cursor: pointer;
    transition: ease-in 0.2s;
    border: 0.2em solid var(--th-Primary);
}

.add-text{
    font-family: Font-Bold;
    color: var(--th-Primary);
}

.dates-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 1218px) {

 
}

@media (max-width: 702px) {
    .form__inputs-container {
        display: grid;
        gap: 1em 5em;
        grid-template-columns: repeat(1, 1fr);
    }

    .form__terms-container {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 547px) {
    .pass-container{
        padding: 5em 4em;
    }
}