@model feedback.Models.Form

@{
    ViewData["Title"] = "Create";
}

@await Html.PartialAsync("Header")

<div class="row">
<div class="form-root-container">
<form asp-action="Create" class="form-container">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form__section-container">
    <div class="form__inputs-container">
        <div class="form-group">
            <label asp-for="Category" class="form__label-text"></label>
            <input asp-for="Category" class="form__input"/>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FromTitleAr" class="form__label-text"></label>
            <input asp-for="FromTitleAr" class="form__input"/>
            <span asp-validation-for="FromTitleAr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FromTitleEn" class="form__label-text"></label>
            <input asp-for="FromTitleEn" class="form__input" type="text"/>
            <span asp-validation-for="FromTitleEn" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FromSectionOneLabelAr" class="form__label-text"></label>
            <input asp-for="FromSectionOneLabelAr" class="form__input"/>
            <span asp-validation-for="FromSectionOneLabelAr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FromSectionOneLabelEn" class="form__label-text"></label>
            <input asp-for="FromSectionOneLabelEn" class="form__input"/>
            <span asp-validation-for="FromSectionOneLabelEn" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group">
        <label asp-for="FromSectionTwoLabelAr" class="form__label-text"></label>
        <input asp-for="FromSectionTwoLabelAr" class="form__input"/>
        <span asp-validation-for="FromSectionTwoLabelAr" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="FromSectionTwoLabelEn" class="form__label-text"></label>
    <input asp-for="FromSectionTwoLabelEn" class="form__input"/>
    <span asp-validation-for="FromSectionTwoLabelEn" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FromSectionThreeLabelAr" class="form__label-text"></label>
    <input asp-for="FromSectionThreeLabelAr" class="form__input"/>
    <span asp-validation-for="FromSectionThreeLabelAr" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FromSectionThreeLabelEn" class="form__label-text"></label>
    <input asp-for="FromSectionThreeLabelEn" class="form__input"/>
    <span asp-validation-for="FromSectionThreeLabelEn" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Question1" class="form__label-text"></label>
    <input asp-for="Question1" class="form__input"/>
    <span asp-validation-for="Question1" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions2" class="form__label-text"></label>
    <input asp-for="Questions2" class="form__input"/>
    <span asp-validation-for="Questions2" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions3" class="form__label-text"></label>
    <input asp-for="Questions3" class="form__input"/>
    <span asp-validation-for="Questions3" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions4" class="form__label-text"></label>
    <input asp-for="Questions4" class="form__input"/>
    <span asp-validation-for="Questions4" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions5" class="form__label-text"></label>
    <input asp-for="Questions5" class="form__input"/>
    <span asp-validation-for="Questions5" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions6" class="form__label-text"></label>
    <input asp-for="Questions6" class="form__input"/>
    <span asp-validation-for="Questions6" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions7" class="form__label-text"></label>
    <input asp-for="Questions7" class="form__input"/>
    <span asp-validation-for="Questions7" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions8" class="form__label-text"></label>
    <input asp-for="Questions8" class="form__input"/>
    <span asp-validation-for="Questions8" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions9" class="form__label-text"></label>
    <input asp-for="Questions9" class="form__input"/>
    <span asp-validation-for="Questions9" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions10" class="form__label-text"></label>
    <input asp-for="Questions10" class="form__input"/>
    <span asp-validation-for="Questions10" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions11" class="form__label-text"></label>
    <input asp-for="Questions11" class="form__input"/>
    <span asp-validation-for="Questions11" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions12" class="form__label-text"></label>
    <input asp-for="Questions12" class="form__input"/>
    <span asp-validation-for="Questions12" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions13" class="form__label-text"></label>
    <input asp-for="Questions13" class="form__input"/>
    <span asp-validation-for="Questions13" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Question1EN" class="form__label-text"></label>
    <input asp-for="Question1EN" class="form__input"/>
    <span asp-validation-for="Question1EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions2EN" class="form__label-text"></label>
    <input asp-for="Questions2EN" class="form__input"/>
    <span asp-validation-for="Questions2EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions3EN" class="form__label-text"></label>
    <input asp-for="Questions3EN" class="form__input"/>
    <span asp-validation-for="Questions3EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions4EN" class="form__label-text"></label>
    <input asp-for="Questions4EN" class="form__input"/>
    <span asp-validation-for="Questions4EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions5EN" class="form__label-text"></label>
    <input asp-for="Questions5EN" class="form__input"/>
    <span asp-validation-for="Questions5EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions6EN" class="form__label-text"></label>
    <input asp-for="Questions6EN" class="form__input"/>
    <span asp-validation-for="Questions6EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions7EN" class="form__label-text"></label>
    <input asp-for="Questions7EN" class="form__input"/>
    <span asp-validation-for="Questions7EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions8EN" class="form__label-text"></label>
    <input asp-for="Questions8EN" class="form__input"/>
    <span asp-validation-for="Questions8EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions9EN" class="form__label-text"></label>
    <input asp-for="Questions9EN" class="form__input"/>
    <span asp-validation-for="Questions9EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions10EN" class="form__label-text"></label>
    <input asp-for="Questions10EN" class="form__input"/>
    <span asp-validation-for="Questions10EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions11EN" class="form__label-text"></label>
    <input asp-for="Questions11EN" class="form__input"/>
    <span asp-validation-for="Questions11EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions12EN" class="form__label-text"></label>
    <input asp-for="Questions12EN" class="form__input"/>
    <span asp-validation-for="Questions12EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Questions13EN" class="form__label-text"></label>
    <input asp-for="Questions13EN" class="form__input"/>
    <span asp-validation-for="Questions13EN" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="OpenQuestionAr" class="form__label-text"></label>
    <input asp-for="OpenQuestionAr" class="form__input"/>
    <span asp-validation-for="OpenQuestionAr" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="OpenQuestionEn" class="form__label-text"></label>
    <input asp-for="OpenQuestionEn" class="form__input"/>
    <span asp-validation-for="OpenQuestionEn" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreationDate" class="form__label-text"></label>
    <input asp-for="CreationDate" class="form__input"/>
    <span asp-validation-for="CreationDate" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary"/>
</div>
</form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>